.render {
    display: flex;
    flex-direction: row;
    width: 76.25%;
    align-items: center;
    position: relative;
    left: 8.5rem;
    margin-top: 7rem;
}

.renderName {
    line-height: normal;
    font-style: normal;
    font-size: 0.875rem;
    color: #6880FF;
    font-weight: normal;
}

.renderInfo {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 100%;
}


.renderTitle {
    position: relative;
    bottom: 2rem;
    width: 83%;
    font-size: 3rem;
    font-weight: bolder;
    line-height: normal;
    font-style: normal;
}

.renderAbout {
    font-size: 1rem;
    font-weight: normal;
    position: relative;
    bottom: 2rem;
}


.renderButton {
    color: #FFFFFF;
    width: 11rem;
    height: 2.5rem;
    background-color: #6880FF;
    border-radius: 0.75rem;
    position: relative;
    top: 16rem;
    right: 25.35rem;
    cursor: pointer;
}

.renderButton:hover {
    background-color: #7C91FF;
    color: #FFF;
}


.renderCardImage {
    display: flex;
    position: relative;
    right: 1rem;
    height: 21rem;
    width: 31rem;
}